
<form action="/herd_changes" method="post" id="animal_addition_form">
    <table>
        
        <tr class="per_animal_row">
            <td>
                <input type="text" class="true_name" name="true_name"/>
            </td>
            <td>
                <select class="species" name="species">
                    <option selected="selected">Bovine</option>
                    <option>Equine</option>
                </select>
            </td>
            <td>
                <input type="text" class="extra_display_info" name="extra_display_info"/>
            </td>
        </tr>

        <tr>
          <td colspan="3" style="text-align: center">
            <input type="submit" value="Make the Change"/>
          </td>
        </tr>
    </table>

</form>
